* {
    margin : 0;
    padding: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet
}  
section {
    display: flex;    
    align-items: center;
    flex-direction: column;
}
input {
    width: 400px;
    height: 30px;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
}
input::placeholder {
    padding-left: 10px;    
}
button {
    height: 30px;
    width: 70px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: blueviolet;
}
.container {
    margin-top: 50px;
    width: 800px;
    background-color:#836FFF;
    border-radius: 30px;    
    align-items: center;    
}
.ask {
    height: 70px;
    margin-top: 15px;
    padding-left: 40px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ask h3{
    font-size: 18px;
    font-weight: 700;
}
.ask-lb {
    padding-left: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;  
}
.resp-1, .resp-2,
.resp-3, .resp-4, .resp-5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: red;
}
